body {
  margin: 0;
  padding: 0;
  background: url(../img/bc4.png) no-repeat center ;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 400px;
  height: 470px;
  top: 48%;
  left: 50%;
  background: transparent;
  position: absolute;
  transform: translate(-50%, -45%);
  box-sizing: border-box;
  padding: 50px 60px;
  border:  4px solid #a1c3df;
  border-radius: 5%;
  margin-top: 60px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: calc(50% - 50px);
}

.login-box h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  color: #5cbeb7;
  font-size: 30px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #324c6e;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background-color: #ffffff;
  opacity: 0,5;
  color: #324c6e;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

.login-box a:hover {
  color: #0101DF;
}

.login-box select{
border-bottom: 1px solid #000;
padding: 1;
margin-bottom: 20px;

}

.textos a {
	color: #136F63;
	font-size: 20px;
	align-content: center;
}
.textos a:hover {
	color: #136F63;
	
}


.alert {
	position: absolute
}