body {
  margin: 0;
  padding: 0;
  background: url(../recursos/fondoIndex.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
  background: url(../recursos/f4.jpg) no-repeat center top;
  position: absolute;
  transform: translate(-50%, -45%);
  box-sizing: border-box;
  padding: 110px 30px;
  border:  4px solid #324c6e;
  
}

.login-box .avatar {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: calc(35% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #324c6e;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #87CEEB;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

.login-box a:hover {
  color: #0101DF;
}

.login-box select{
border-bottom: 1px solid #000;
padding: 1;
margin-bottom: 20px;

}

.holi h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 200px;

}
