@charset "UTF8";

body {
  margin: 0;
  padding: 0;
  background: url("https://i.ebayimg.com/thumbs/images/g/67QAAOSwhBNdxo5E/s-l300.jpg") repeat center top;
  font-family: sans-serif;
  height: 100%;
  box-sizing: border-box;
  
}

.parallax {
  /* The image used */
  background-image: url(../img/bg2.svg);

  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pie {
	background-color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


#form {
  width: 1vh;
  margin: 0 auto;
  height: 10vh;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 10vh;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
footer{
	background-color: #1D8D84;
	opacity: 0.8;
	
}
footer span, p{
	color: black;
}