body {
  margin: 0;
  padding: 0;
  background: url("https://i.ebayimg.com/thumbs/images/g/67QAAOSwhBNdxo5E/s-l300.jpg") repeat center top;
  background-size: cover;
  font-family: sans-serif;	
  /*height: 100vh;*/
 
}

h2{
	text-align:center;
	color: #5cbeb7;
}	

btn btn-primary{
	justify-content:center;
}

footer{
	background-color: #28847E;
	opacity: 0.8;
}

footer span, p{
	color: black;
}


