body {
  margin: 0;
  padding: 0;
  background: url(../img/conjunto.svg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  margin-left:  10px;
  margin-right: 10px;
}

