body {
  margin: 0;
  padding: 0;
  background: url(../img/bckgr.svg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;	
  height: 120vh;
  margin-left:  10px;
  margin-right: 10px;
}

h2{
	text-align:center;
	color: #5cbeb7;
}	

btn btn-primary{
	justify-content:center;
}

