body {
  margin: 0;
  padding: 0;
  background: url("https://cdn.pixabay.com/photo/2016/07/08/13/37/texture-1504364_960_720.jpg") repeat center top;
  /*background-size: cover;*/
  font-family: sans-serif;	
  /*height: 100vh;*/
 
}

h2{
	text-align:center;
	color: #5cbeb7;
}	

btn btn-primary{
	justify-content:center;
}

